<div class="example-wrap">
    <form class="k-form k-form-md" [formGroup]="form" (ngSubmit) = "onSubmit()">
      <fieldset class="k-form-fieldset">
        <legend class="k-form-legend">Office Booking Details</legend>

        <kendo-formfield>
          <kendo-label
            labelCssClass="k-form-label"
            for="date"
            [optional]="false"
            text="Date"
          ></kendo-label>
          <kendo-datepicker
            #date
            required
            formControlName="date"
          >
          </kendo-datepicker>
          
          <kendo-formhint>Please select a date</kendo-formhint>
          <kendo-formerror>Error: Date is required</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label
            labelCssClass="k-form-label"
            for="room"
            text="Room"
            [optional]="false"
          ></kendo-label>

          <kendo-textbox
            formControlName="room"
            #room
            required
          ></kendo-textbox>

          <kendo-formhint>Please select a room</kendo-formhint>
          <kendo-formerror>Error: Room number is required</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
          <kendo-label
            labelCssClass="k-form-label"
            for="notes"
            [optional]="true"
            text="Notes"
          ></kendo-label>

          <kendo-textbox
            formControlName="notes"
            #notes
          ></kendo-textbox>

          <kendo-formhint>Add notes</kendo-formhint>
        </kendo-formfield>

        <div class="k-form-buttons">
          <button kendoButton themeColor="primary" (click)="submitForm()">
            Submit
          </button>
          <button kendoButton (click)="clearForm()">Clear</button>
        </div>
      </fieldset>
    </form>
  </div>