<h1>BOOKING</h1>
<nav>
    <div class="btn"><a routerLink="/officebooking" routerLinkActive="active" ariaCurrentWhenActive="page">Office Booking</a></div>
    <div class="btn"><a routerLink="/parkingbooking" routerLinkActive="active" ariaCurrentWhenActive="page">Parking Booking</a></div>
    <div class="btn"><a routerLink="/addofficebooking" routerLinkActive="active" ariaCurrentWhenActive="page">Add Office Booking</a></div>
    <div class="btn"><a routerLink="/addparkingbooking" routerLinkActive="active" ariaCurrentWhenActive="page">Add Parking Booking</a></div>
    <div class="btn"><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></div>
</nav>
<router-outlet></router-outlet>